body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(to bottom right, red, yellow);
}

.backg {
    height: 100vh;
}

.outer {
    color: white;
    width: 600px;
    padding: 25% 0 0;
    margin: auto;
}

input[type=text] {
    background: white;
    color: black;
    width: 80%;
    border: 1%;
    padding: 15px;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 16px;
}

button {
    border: 2%;
    width: 300px;
    padding: 15px;
    background-color: crimson;
    border: solid white 2px;
    color: white;
    font-size: 15px;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

p {
    font-size: 15px;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}